In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
from pandas import Series,DataFrame

In [6]:
import webbrowser
website = "https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records"
webbrowser.open(website)

True

In [21]:
n_frame = pd.read_clipboard()

In [22]:
n_frame

        Header 1       Header 2       Header 3
0  row 1, cell 1  row 1, cell 2  row 1, cell 3
1  row 2, cell 1  row 2, cell 2  row 2, cell 3

In [25]:
n_frame.columns

Index(['Header 1', 'Header 2', 'Header 3'], dtype='object')